:root {
    color-scheme: dark light;

    --color-bg: light-dark(#EEE, #222);
    --color-text: light-dark(#222, #EEE);
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1 {
    text-align: center;
}

main {
    margin-top: 50px;
    text-align: center;
}

#streak {
    font-size: 20pt;
    margin: 0 auto;
}

button {
    font-size: 30pt;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
