:root {
    color-scheme: dark light;

    --color-bg: light-dark(#EEE, #222);
    --color-text: light-dark(#222, #EEE);
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1 {
    text-align: center;
}

main {
    text-align: center;
}

#data-log {
    table, td {
        border: 1px solid;
    }

    table {
        margin: 0px auto;
        border-collapse: collapse;

        td {
            padding: 5px;
        }

        .date-col {
            width: 200px;
        }

        .cal-col {
            width: 100px;
        }
    }
}
